In [6]:
import pandas as pd
import numpy as np

from columnas_seleccionadas import COLUMNAS_SELECCIONADAS

In [9]:
df = pd.read_csv('Dataset_csv/Dataset.csv')
df = df[COLUMNAS_SELECCIONADAS]
df['DIA'] = pd.to_datetime(df['DIA'], errors='coerce')
df['anio'] = df['DIA'].dt.year
df['mes'] = df['DIA'].dt.month
df['dia'] = df['DIA'].dt.day
df.drop(columns=['DIA'], inplace=True)
print(df.shape)

(1179, 34)

In [10]:
df.head()

,EE Planta / Hl,EE Elaboracion / Hl,EE Bodega / Hl,EE Cocina / Hl,EE Agua / Hl,ET Planta / Hl,ET Elab/Hl,ET Bodega/Hl,ET Cocina/Hl,ET Envasado/Hl,...,Gas Planta (Mj),ET Envasado (Mj),ET Servicios (Mj),Tot L3. L4 y Planta de CO2,Tot A40/240/50/60/Centec/Filtro,Tot A130/330/430,Tot Trasiego,anio,mes,dia
0,642.727209,47.145349,69.023256,0.000000,4.372093,3506.412338,924.646747,146.731163,0.000000,1721.222069,...,150775.730528,74012.548973,37003.371429,0.0,0.0,0.0,0.0,2020,7,1
1,7.767254,0.769609,0.798838,0.319229,-0.023412,67.023237,17.419777,2.050417,10.574475,44.056094,...,469499.449248,308614.036687,38859.440306,0.0,0.0,0.0,0.0,2020,7,2
2,8.801205,0.862593,0.835762,0.260924,0.126352,73.462669,20.504276,1.970632,9.604473,48.021805,...,548270.265952,358398.736754,36842.992312,0.0,0.0,0.0,0.0,2020,7,3
3,5.175639,0.439225,0.371077,0.258048,0.077983,49.022234,17.832753,1.275730,8.182167,27.529735,...,635538.945472,356903.747417,47446.033620,0.0,0.0,0.0,0.0,2020,7,4
4,7.924665,0.802365,0.717787,0.301592,0.114267,62.150576,25.156634,1.363221,10.285670,33.078709,...,553697.930928,294697.395930,34880.711617,0.0,0.0,0.0,0.0,2020,7,5